{{> message}}
<h1>老爸的私房錢！</h1>
{{totalAmount}}
<ul>
  {{#each records}}
  <li>{{this.name}} {{this.amount}} {{this.date}} {{this.categoryName}} <form action="/tracker/{{this._id}}?_method=DELETE" method="POST">
  <a href="/tracker/{{this._id}}/edit">修改</a>
  <button type="submit">刪除</button>
  </form></li>
  {{/each}}
</ul>
  
<a href="/users/logout">登出</a>
<a href="/tracker/new">new</a>