{{> message}}
<div class="container mt-3">
  <div class="row">
    <div class="col-6 mx-auto">
      <form action="/tracker/partial">
        <select name="category" onchange="submit()" id="category"style="width:200px;">
          <option value="all">顯示全部</option>
          {{#each options}}
          <option value="{{this._id}}"{{this.selected}}>{{this.name}}</option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6 mx-auto">
      <div>總計：</div>
      <h1 class="text-end">{{totalAmount}} <span>元</span></h1>
    </div>
  </div>
  <div class="row mt-4">
    {{#each records}}
    <div class="col-3"></div>
    <div class="col-6">
      <div>
          <ul class="list-group d-flex">
            
            <div class="d-flex justify-content-between">
              <div>
                <h4>{{this.name}}</h4>
                {{this.date}}
              </div>
               {{!-- {{this.categoryName}} --}}
              <div class="d-flex align-items-center">
                <h3>{{this.amount}} </h3>
              </div>
            </div>
          </ul>
      </div>
    </div>
    <div class="col-2">
        <form class="d-flex justify-content-around" action="/tracker/{{this._id}}?_method=DELETE" method="POST">
          <a href="/tracker/{{this._id}}">修改</a>
          <button type="submit">刪除</button>
        </form>
    </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-6 mx-auto d-flex justify-content-center mt-5">
      <a href="/tracker/new" class="btn btn-primary" style="width:10rem; background-color:rgb(248, 99, 0)">新增支出</a>
    </div>
  </div>
</div>
