
<div class="container mt-3">
  <div class="row">
    <div class="col-6 mx-auto">
      {{> message}}
      <form action="/tracker/partial">
        <select name="category" onchange="submit()" id="category"style="width:200px;">
          <option value="all">顯示全部</option>
          {{#each options}}
          <option value="{{this._id}}"{{this.selected}}>{{this.name}}</option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>
  {{#if noFile}}
  {{else}}
  <div class="row mt-4">
    <div class="col-6 mx-auto">
      <div>總計：</div>
      <h1 class="text-end amount">{{totalAmount}}<span>元</span></h1>
    </div>
  </div>
  {{/if}}
  <div class="row mt-4">
    {{#if noFile}}
      <div class="col-6 mx-auto">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-head text-center">
            Oops! 還沒有任何記帳紀錄呢！開始創建並使用吧！
            <i class="fa-regular fa-face-smile-wink"></i>
          </h4>
        </div>
      </div>
    {{/if}}
    {{> records}}
  </div>
  <div class="row">
    <div class="col-6 mx-auto d-flex justify-content-center mt-5">
      <a href="/tracker/new" class="btn btn-primary" style="width:10rem; background-color:rgb(248, 99, 0)">新增支出</a>
    </div>
  </div>
</div>
